extends layout

block content
  h1= title
  table
    each assignment in Object.getOwnPropertyNames(config[course])
      tr
        td(align="right") #{assignment}
        td #{config[course][assignment].title}
        td
          a(href="#{course}-#{assignment}.zip")
            input(type="button" value="Download")
        td
          a(href="#{course}/#{assignment}/moss")
            input(type="button" value="MOSS")
        td
          a(href="#{course}/#{assignment}/etector")
            input(type="button" value="ETector")
