extends layout

block content
  h1= title
  each course in Object.getOwnPropertyNames(config)
    each assignment in Object.getOwnPropertyNames(config[course])
      p
        a(href="upload/#{course}/#{assignment}") #{course}-#{assignment}
        |  #{config[course][assignment].title}
