doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if user
      p
        a(href='/logout') Sign Out
        |  &bull; #{user}
    block content
