extends layout

block content
  if message
    p ERROR: #{message}
  p
    a(href="/auth/google" style="text-decoration: none")
      input(type="button" value="Sign In")
  p.
    You must sign in to access this site.
    Please sign in using the Google Account
    associated with the email address
    that you provided to your instructor.
