extends layout

block content
  h1= title
  p.
    For each file listed below, use the Choose File button to select a file for upload.
    After all files have been selected, use the Submit button to begin the upload.
    If the file names do not match exactly, the upload will fail.
  p.
    If you have previously uploaded a file,
    use the Download button if you want to download a copy.
  form(method="post", enctype="multipart/form-data", action="#")
    table
      each file in files
        tr
          td= file
          td
            a(href="#{assignment}/#{file}" style="text-decoration: none")
              input(type="button", value="Download")
          td
            input(type="file", name="#{file}")

    input(type="submit")
