extends layout

block content
  h1= title
  ul
    each assignment in Object.getOwnPropertyNames(config[course])
      li
        a(href="#{course}/#{assignment}")
          = assignment
          | &nbsp;
          = config[course][assignment].title
